@tailwind base;
@tailwind components;
@tailwind utilities;

 
::placeholder,select{
    font-size: 11px;
}

input,select{
    font-size: 13px; 
}
.input-t{
    padding: 10px 14px 10px 14px !important;
}
.nmflg{
    padding: 10px;
}
.field select, select{
    padding: 12px 14px 12px 14px !important;
}
.field{
    margin-top: 4px;
}

label{
    margin-bottom: 10px !important;
}

.header .search-bar{ 
    height: 36px;
    width: 215px;
}

.search-bar ::placeholder{
    font-size: 14px;
}

.header .container{
    display: flex ;
    justify-content: space-between ;
    align-items: center;
}

.left-side{
    background: linear-gradient(#DDE4F7, #DDE4F700);
    /* border:3px solid  #ffffff; */
}

 

.step-titles .step span i{
   color: #1278bc; 
}
 
.step-titles .step span{ 
    outline-color: #1278bc; 
    z-index: 100;
}


.step-titles::before{
    position: absolute;
    content: '';
    left:10px;
    top: 8px;
    bottom: 0;
    width: 5px; 
    height: 85%;
    background: #d5d5d5 !important; 
}
 

.applicant .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.applicant .footer div:nth-child(1){
    display: flex;
    align-items: center; 
    gap: 7px;
}

.applicant .footer div:nth-child(2){
    display: flex;
    align-items: center; 
    gap: 20px;
} 


label{ 
    font-weight: 500;
}


@media(max-width:1280px){
    
    .step-titles {
     margin-left: -30px;
    }

    .step-titles::before{ 
        left:10px;
        
    }
     
    }
    


@media(max-width:1180px){

    .right-side{
        margin-top: 10px !important;
    }

.step-titles .step span{
margin-right: 10px;
height: 20px;
width: 20px;
line-height: 17px;
}
.step-titles::before{ 
    left:8px; 
    width: 4px; 
    height: 75%; 
}
}


@media(max-width:768px){ 
    
    .step-titles {
        margin-left: 0px;
        text-align: center;
       }
    .left-side{
        padding: 2px !important;  
        height: 130px;
    }
    .right-side{
        margin: 0 !important; 
    }
    
.header .search-bar{  
    width: 177px;
}
.search-bar ::placeholder{
    font-size: 12px;
}

.left-side .step p{
    display: none !important;
}

    
.right-side .rs{
    margin: 0;
}

    
.step-titles::before{
   
    display: none !important;
}

.step-titles span{
    display: none;
}

.si{
    display: none !important;
}

.field{
    margin-top: 0px;
}


.button button{
    width: 100% !important;
    display: block !important;
    margin-bottom: 10px;
}


.applicationphotoMb {
    display: initial
}

.applicationphotodesktp {
    display: none
}

label{
    font-size: 14px !important;
    font-weight: 500;
}
 
.left-side .step-titles .step .pp p{
    display: none !important;
    opacity: 0 !important;
}
 
.msteps{
    margin-top: -37px;
    display: flex; 
    gap: 10px;
    justify-content: space-between;  
    background: gainsboro;
    height: 5px;
    align-items: center;
    border-radius: 5rem;
} 
.msteps div i{
    color: #1278BC;
    border: 5px solid white;
    border-radius: 5rem;
}
 
}

  